.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .80);
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    background-color: #79c5e8;
    padding: 2em 3em;
    /* box-sizing: border-box; */
}
.form__section {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    width: 100%;
    padding: 0;
    margin: 0;
}
.close-icon {
    align-self: flex-end;
}
label, input, textarea, button {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
label {
    margin-bottom: 1em;
}
input, textarea {
    padding: 1em;
}
button {
    width: 100%;
    padding: 1em 0;
    align-self: center;
}
